* {
    font-family: sans-serif;
  }
  
  /* CSS */
  .button-56 {
    align-items: center;
    background-color: #FFD700;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 25px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .button-56:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-56 {
      padding: 0 40px;
    }
  }
  
  /* CSS */
  .button-59 {
    align-items: center;
    background-color: #F08080;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 25px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-59:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-59:hover:after {
    transform: translate(0, 0);
  }
  
  .button-59:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .button-59:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-59 {
      padding: 0 40px;
    }
  }
  
  /* CSS */
  .button-57 {
    align-items: center;
    background-color: #87CEFA;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 25px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-57:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-57:hover:after {
    transform: translate(0, 0);
  }
  
  .button-57:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .button-57:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-57 {
      padding: 0 40px;
    }
  }
  /* CSS */
  .button-58 {
    align-items: center;
    background-color: #90EE90
  ;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 25px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-58:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-58:hover:after {
    transform: translate(0, 0);
  }
  
  .button-58:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .button-58:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-58 {
      padding: 0 40px;
    }
  }
  
  button {
      margin-bottom: 25px;
  }
  
  h1 {
    margin-bottom: 0px; /*adjust as needed*/
  }
  
  h3 {
    margin-bottom:   25px; /*adjust as needed*/
    margin-top: 5px; /*adjust as needed*/
    font-style: italic;
  }